<?xml version="1.0"?>
<model>
  <name>imav2026_wooden_house_bounds_marker</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>IMAV2026</name>
  </author>
  <description>
    Small visible cube used to verify wooden house coordinate bounds.
  </description>
</model>
