<?xml version="1.0" ?>
<model>
  <name>red_bar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Pasin Jnd, EIC-ARRT</name></author>
  <description>Red horizontal bar obstacle (Mission 1). Drone must fly OVER. Bar at middle height (1600mm) by default; posts are 1980mm tall with marks at 1200/1600/1980mm.</description>
</model>
