<?xml version="1.0" ?>
<model>
  <name>wind_turbine_blade</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Pasin Jnd, EIC-ARRT</name></author>
  <description>Wind turbine blade for Mission 4. Blade tilted 45 deg on a support stand. Four copper disc targets along the blade face. ArUco markers Id4/5/6 for localization. Copper ring on 50cm stand for pickup.</description>
</model>
