<?xml version="1.0" ?>
<model>
  <name>pipe_obstacle</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Pasin Jnd, EIC-ARRT</name></author>
  <description>Pipe/tube crossing obstacle (Mission 1 final gate). Two vertical posts and two diagonal crossing red tubes in an X pattern. 1000x1000mm base, 2000mm tall.</description>
</model>
