<?xml version="1.0"?>
<model>
  <name>imav2026_indoor_static</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>CUHK-UAS-FUNDAMENTAL</name>
    <email>noreply@example.com</email>
  </author>
  <description>
    Static IMAV 2026 indoor competition scene exported from Blender.
  </description>
</model>